.texto {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(41, 41, 41);
    font-weight: 500;
}

.caixa {
    width: 150px;   
    height: 150px;
    margin: 20px;
    background-color: #ccc;
}

.static {
    position: static;
    background-color: rgb(119, 206, 235);

}

.relative {
    position: relative;
    background-color: rgb(91, 226, 91);
    top: 50px;
    left: 200px;
}

.container {
    position: relative;
    width: 300px;
    height: 250px;
    margin: 20px;
    border: 1px dashed;
    background-color: rgb(228, 228, 228);
}

.absolute {
    position: absolute;
    margin: 0px;
    background-color: tomato;
    top: -320px;
    left: 50px;
    z-index: -1;
}

.fixed {
    position: fixed;
    background-color: blueviolet;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}

.espaco {
    height: 4000px;
    background-color: #ccc;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: rgb(119, 119, 255);
    height: 150px;
    width: 200px;
    text-align: center;   
    padding: 10px;
}
